[
 {rabbit,
  [
   {tcp_listeners, [ {{~cfg.port~}} ]},
   {disk_free_limit, {{cfg.disk_free_limit~}} },
   {cluster_partition_handling, {{cfg.cluster_partition_handling~}} },
   {default_user,        <<"{{cfg.default_user~}}">>},
   {default_pass,        <<"{{cfg.default_pass~}}">>},
   {loopback_users, []},
{{~#if svc.me.follower}}
   {mnesia_table_loading_timeout, 30000},
{{~#with svc.leader}}
   {cluster_nodes, {['rabbit@{{hostname}}'], disc} }
{{~/with}}
{{else}}
   {mnesia_table_loading_timeout, 30000}
{{~/if}}
  ]
 }
].
